<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f5f5f5;
            overflow: hidden;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding: 20px;
            background-color: #3498db;
            color: #fff;
            border-bottom: 1px solid #2980b9;
        }

        h1 {
            margin-bottom: 10px;
            font-size: 28px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        label {
            font-size: 16px;
            margin-bottom: 10px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            background-color: #2ecc71;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        .user-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .user-info span {
            margin-bottom: 5px;
            font-size: 20px;
            font-weight: 400;
        }

        .logout-btn {
            background-color: #e74c3c;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        .logout-btn {
            background-color: #e74c3c;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        table {
            width: calc(100% - 40px);
            margin: 20px;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #3498db;
            color: #fff;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        @media (max-width: 600px) {
            .container {
                max-width: 100%;
            }

            .header {
                flex-direction: column;
                align-items: center;
            }

            h1 {
                font-size: 24px;
            }

            form {
                padding: 10px;
            }

            label {
                font-size: 14px;
            }

            input {
                margin-bottom: 10px;
            }

            button {
                font-size: 14px;
            }

            .user-info {
                flex-direction: column;
                text-align: center;
            }

            .user-info {
                margin-top: 10px;
            }

            .logout-btn {
                font-size: 14px;
            }

            .logoin-btn,
            .logout-btn {
                width: 40%;
                margin-left: 80%;
                margin-bottom: 10px;
            }

            table {
                width: 100%;
                margin: 0px;
                overflow-x: hidden;
                /* Add this property */
            }

            th,
            td {
                padding: 10px;
                white-space: nowrap;
                /* Prevent line breaks within table cells */
            }
        }
    </style>
</head>

<body>
    <h1 class="header">Url shortener
        <% if (!locals.isLogin) { %>
            <div class="user-info">
                <button class="login-btn" onclick="logout()"><a href="/user/login">LogIn</a></button>
            </div>
            <% } else { %>
                <div class="user-info">
                    <span>
                        <%= locals.userName %>
                    </span>
                    <button class="logout-btn" onclick="logout()">Logout</button>
                </div>
                <% } %>

    </h1>
    <form method="POST" action="/url" class="form">
        <label for="url">Enter the URL</label>
        <input type="text" name="url" placeholder="https://google.com">
        <button type="submit">Generate</button>
    </form>
    <% if (locals.Urls) { %>
        <table class="lists">
            <thead>
                <tr>
                    <td>SN</td>
                    <td>ID</td>
                    <td>URLs</td>
                    <td>No of clicks</td>
                </tr>
            </thead>

            <% Urls.forEach((url, index)=> { %>
                <tr>
                    <td>
                        <%= index + 1 %>
                    </td>
                    <td>
                        <%= url.shotId %>
                    </td>
                    <td>
                        <%= url.redirectUrl %>
                    </td>
                    <td>
                        <%= url.visitHistory.length %>
                    </td>
                </tr>
                <% }); %>
        </table>
        <% } %>

            <script>
                function logout() {
                    document.cookie = "uid=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                    location.reload()
                }
            </script>
</body>

</html>